/*Title: CCGC Microsite styles
  Author: Benjamin Friesen
  Dept: Marketing and Communications
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*---- Universal Styles -----*/
*, body, html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  box-sizing: border-box;
  line-height: 1.75em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --color-dark: black;
  --color-light: white;
  --color-primary: #D2D2D2;
  --color-accent: #3E3E3E;
}

button {
  border: none;
  width: 200px;
  height: 46px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin: 5px;
}


/*---- TYPOGRAPHY ----*/
h1 {
  font-size: 75pt;
  color: var(--color-light);
  text-transform: uppercase;
  margin: 0;
  line-height: 1.05em;
}
h2{
  font-size: 30pt;
  font-weight: 900;
}
h3{
  font-size: 18pt;
  font-weight: 700;
  max-height: 100px;
}
h4{
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 45pt;
  color:var(--color-light);
}

h1, h4 {
  text-align: center;
}

/*---- ALL LG IMAGES ----*/
#hero, #goals-panel, #img-break {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

/*---- HERO SECTION ----*/
#hero {
  background-image: url('../img/connected-world.jpg');
  opacity: 0.90;
  display: grid;
  grid-template-areas: 'logo' 'title' 'button-group';
  justify-content: center;
  justify-items: center;
}
#hero .main-logo {
  grid-area: logo;
  width: 254px;
  height: 27px;
  margin-top: 5%;
}
#hero .full-title {
  grid-area: title;
  max-height: 275px;
  max-width: 900px;
}

#hero .italic-title {
  height: 73px;
}

#hero .bold-title {
  height: 195px;
  font-weight: 900;
}

#hero .center-horzrule {
  border: 5px solid var(--color-light);
  width: 20%;
  margin: 50px auto 0;
}
#hero .btn-group {
  display: flex;
  grid-area: button-group;
  align-items: center;
}

#hero .btn-group .button {
  background-color: var(--color-primary);
  color: var(--color-dark);
}

#hero .btn-group .button:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}

/*--- STYLES APPLYING TO MULTI SECTIONS ---*/
header {
  height:60px;
}


/*----ABOUT SECTION ---*/
#about-panel {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 1024px;
}
#about-panel #about-intro {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: var(--color-primary);
  /*margin: 60px 10% 0;*/
  height: 400px;
}

#about-panel #about-intro header {
  text-align: center;
  margin: 60px 0 20px 0;
}
#about-panel #about-intro .body-text {
  width: 80%;
  max-height:250px;
  margin: 0 auto;
}

#about-panel #about-intro .body-text #intro-text {
  line-height: 1.75em;
  text-align: center;
  font-size: 18pt;
  font-weight: 700;
}
#about-panel #mission-intro {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 273px;
  width: 476px;
  align-self: center;
  justify-self: center;
}
#about-panel #mission-intro .mission { 
  margin-bottom: 20px;
}
#about-panel .side-img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 576px;
  height: 400px;
}
/*----GOALS SECTION ---*/
#goals-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url('../img/ccis_14_0017.jpg');
  height: 1024px;
}

#goals-panel .side-bg {
  width: 476px;
  height: 600px;
  background-color: #D2D2D2;
  grid-column: 3 / 4;
  align-content: center;
  opacity: 0.85;
  padding: 50px;
  margin: 50px;
  transform: translate3d(0, 0, 0);
}

#goals-panel .side-bg header {
  margin: 0 0 20px 0;
}
#goals-panel .side-bg .body-text {
  height: 448px;
}

#goals-panel .side-bg .body-text ul {
  position: relative;
  display: block;
  list-style-type: disc;
  height: 20%;
}

/*---- ENGAGEMENT SECTION ---*/
#engagement-panel {
  background-color: var(--color-primary);
  height: 1570px;
  padding: 5%;
}

#engagement-panel .column-container {
  min-height: 1120px;
  column-count: 2;
  column
}

#engagement-panel .column-container .item img{
  width: 576px;
  height: 400px;
}

#engagement-panel .column-container .item p {
  max-height: 190px;
}

#engagement-panel .column-container .item button .dark-button {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/*---- IMG BREAK SECTION ----*/
#img-break { 
  background-image: url('../img/ccis_19_0014.jpg');
  min-height: 100%;
}


/*---- GET INVOLVED SECTION ----*/
#involved-panel {
  display: grid;
  grid-template-areas:  'header header header'
                        'button button button'
                        'card-1 card-2 card-3'
                        'card-4 card-5 card-6'
                        'text-1 text-2 text-2';
}
#involved-panel .get-involved {
  grid-area: header;
}

#involved-panel .button-full-width {
  grid-area: button;
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 90%;
  justify-self: center;
}

#card-1 {
  grid-area: card-1;
}
#card-2 {
  grid-area: card-2;
}

#involved-panel .left {
  grid-area: text-1;
}

#involved-panel .right {
  grid-area: text-2;
}

/*---- CARDS -----*/

.card-container {
  
  perspective: 800px;
}

.card-container .card {
  height: 376px;
  width: 376px;
  -webkit-transform: translate3d(0, 0, 0);
  margin: 25px 50px;
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
  /* background-color:lightgray; */
  radius: 25px;
  /*position: relative;
  /*width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 0.5s ease;*/
}

.side {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  backface-visibility: hidden;
  display: block;
}
.card-container .card-back {
  transform: rotateY( 180deg );
		/*z-index: 100;*/
}
.card-container .card-front{
  background: var(--color-light);
  color: var(--color-primary);
}
.card-container .card-back {
  transform: rotateY(180deg);
  background: var(--color-primary);
  color: var(--color-light);
}
#card.flipped {
  transform: rotateY(180deg);
}
/*--- FOOTER ---*/

footer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: var(--color-accent);
}

footer .footer-logo {
  height: 152px;
  width: 176px;
}
